 <div id="registerbg">

 <form id="formregister" method="post" action="" >
<input type="text" name="login" id="logina" placeholder="Nom de compte" required onpaste="return false;"><br />
<input type="password" name="pass" id="pass" placeholder="Mot de passe" required onpaste="return false;">
<input type="password" name="pass_confirm" id="pass_confirm" placeholder="Confirmez votre mot de passe" required onpaste="return false;"><br />
<input type="text" name="email" id="email" placeholder="Email" required onpaste="return false;">
<input type="text" name="emailr" id="emailr" placeholder="Confirmez Email" required onpaste="return false;"><br />
<center><img src="scripts/php/captcha.php" /></center>
<input type="text" name="captcha" id="captcha" placeholder="Code de sécurité" required onpaste="return false;"><br />
 <input type="submit" name="inscription" value="Inscription">

 </form>

 </div>