<h1>[TEXT=MY_ACCOUNT_TITLE]</h1>
<section class="accountheader">
    <div class="ma_column">
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_TITLE] : </div>
            <div class="accountvalue">[MA_ACCOUNT]</div>
            <div class="clear"></div>
        </div>
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_EMAIL] : </div>
            <div class="accountvalue">[MA_EMAIL]</div>
            <div class="clear"></div>
        </div>
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_CHARACTER] : </div>
            <div class="accountvalue">[MA_CHARACTER]</div>
            <div class="clear"></div>
        </div>
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_IP] : </div>
            <div class="accountvalue">[MA_IP]</div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="ma_column">
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_POINTVOTE_NUMBER] : </div>
            <div class="accountvalue">[MA_POINTVOTE_NUMBER]</div>
            <div class="accountlink"><a href="#">[TEXT=GETMORE]</a></div>
            <div class="clear"></div>
        </div>
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_POINTSHINS_NUMBER] : </div>
            <div class="accountvalue">[MA_POINTSHINS_NUMBER]</div>
            <div class="accountlink"><a href="#">[TEXT=GETMORE]</a></div>
            <div class="clear"></div>
        </div>
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_WARNING] : </div>
            <div class="accountvalue">[MA_WARNING]</div>
            <div class="accountlink"><a href="#">[TEXT=VIEW]</a></div>
            <div class="clear"></div>
        </div>
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_PURCHASESTORE] : </div>
            <div class="accountvalue">[MA_PURCHASESTORE]</div>
            <div class="accountlink"><a href="#">[TEXT=VIEW]</a></div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="ma_column">
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_SUPPORTPENDING] : </div>
            <div class="accountvalue">[MA_SUPPORTPENDING]</div>
            <div class="accountlink"><a href="#">[TEXT=VIEW]</a></div>
            <div class="clear"></div>
        </div>
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_AUCTIONPENDING] : </div>
            <div class="accountvalue">[MA_AUCTIONPENDING]</div>
            <div class="accountlink"><a href="#">[TEXT=GETMORE]</a></div>
            <div class="clear"></div>
        </div>
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_PURCHASEPENDING] : </div>
            <div class="accountvalue">[MA_PURCHASEPENDING]</div>
            <div class="accountlink"><a href="#">[TEXT=VIEW]</a></div>
            <div class="clear"></div>
        </div>
        <div class="ma_field">	
            <div class="accountfield">[TEXT=MY_ACCOUNT_LOGINHISTORY]</div>
            <div class="accountvalue"></div>
            <div class="accountlink"><a href="#">[TEXT=VIEW]</a></div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="ma_avatar">
        <img src="img/1600/noavatar.png" alt="" />
    </div>

    <div class="clear"></div>
</section>

<a href="[WEBSITE_URL]ChangePassword" class="ma_password ma_button"></a>
<a href="[WEBSITE_URL]Help/Account" class="ma_store ma_button"></a>
<a href="[WEBSITE_URL]Store" class="ma_faction ma_button"></a>
<a href="[WEBSITE_URL]Store" class="ma_point ma_button"></a>
<a href="[WEBSITE_URL]Store" class="ma_block ma_button"></a>
<a href="[WEBSITE_URL]Store" class="ma_race ma_button"></a>

