<!-- NEWS_START_STRUCTURE -->
<h1>[NEWS_TITRE]<a href="[NEWS_LINK]" class="news_comment">[NEWS_COM_COUNT]</a></h1>
<div class="stafflogo"></div>
<div class="center_contenu">
    <div class="news_picture">[NEWS_PICTURE]</div>
    <div class="news_text">
    [NEWS_DATA]
    </div>
    <div class="clear"></div>
</div>
<!-- NEWS_END_STRUCTURE -->