html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #e0dee9 url(../images/login/bg.jpg) repeat-x 450px top;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

#container {
    top: 30%;
    position: absolute;
    left: 40%;
    margin-left: -200px;
    margin-top: 20px;
    padding-bottom: 25px;
}

#loginbox {
    height: auto;
    background: #ffffff;
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    overflow: hidden !important;
    text-align: center;
    position: relative;
    padding: 15px;
    padding-bottom: 25px;
}