/* ========================================================
*
* Amsterdam - premium admin template
*
* ========================================================
*
* File: plugins.css;
* Description: External plugins stylings
* Version: 1.0
*
* ======================================================== */


/* ===== Full Calendar ===== */

.fc { direction: ltr; text-align: left; }
.fc table { border-collapse: collapse; border-spacing: 0; }
html .fc, .fc table { font-size: 1em; }
.fc td, .fc th { padding: 0; vertical-align: top; }


/* Header */

.fc-header td { white-space: nowrap; }
.fc-header-left { width: 25%; text-align: left; margin-left: 8px; }
.fc-header-center { text-align: center; }
.fc-header-right { width: 25%; text-align: right; line-height: 40px; }
.fc-header-right > span { border-left: 1px solid #eee; }
.fc-header-right .fc-button { padding: 0 12px; }
.fc-header-right .fc-state-active { color: #999; }
.fc-header-right .fc-state-hover { color: #327394 }

.fc-header-title { display: inline-block; vertical-align: top; }
.fc-header-title h2 { margin-top: 0; white-space: nowrap; margin: 0; font-size: 12px; }
.fc .fc-header-space { padding-left: 10px; }
.fc-header .fc-button { vertical-align: top; }
.fc-header .fc-button { margin-right: -1px; }
.fc-header .fc-corner-right,   .fc-header .ui-corner-right {  margin-right: 0;  }
.fc-header .fc-state-hover, .fc-header .ui-state-hover { z-index: 2; }
.fc-header .fc-state-down { z-index: 3; }
.fc-header .fc-state-active, .fc-header .ui-state-active { z-index: 4; }
	
	
/* Content */
	
.fc-content { clear: both; }
.fc-view { width: 100%; overflow: hidden; }
	

/* Cell Styles */

.fc-widget-header, .fc-widget-content { border: 1px solid #ddd;}
.fc-state-highlight {  background: #fcf8e3; }
.fc-cell-overlay { background: #bce8f1; opacity: .3; filter: alpha(opacity=30); }
	

/* Buttons */

.fc-button { position: relative; display: inline-block; padding: 0 6px; overflow: hidden; white-space: nowrap; cursor: pointer; }
.fc-button-prev { margin-left: 6px; }

.fc-state-default {}
.fc-state-default.fc-corner-left { }
.fc-state-default.fc-corner-right { }

.fc-text-arrow { margin: 7px 2px; display: block; font-size: 20px; font-family: "Courier New", Courier, monospace; vertical-align: baseline;  }
.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow { font-weight: bold; }
.fc-button .fc-icon-wrap { position: relative; float: left; top: 50%; }
.fc-button .ui-icon { position: relative; float: left; margin-top: -50%; *margin-top: 0; *top: -50%; }
.fc-state-default { color: #333; border: none; }
.fc-state-hover, .fc-state-down, .fc-state-active, .fc-state-disabled { color: #333333; }

.fc-state-hover {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.fc-state-down, .fc-state-active { outline: 0; }
.fc-state-disabled { cursor: default; background-image: none; opacity: 0.65; filter: alpha(opacity=65); box-shadow: none; }

	
/* Global Event Styles */
	 
.fc-event { border: 1px solid #3a87ad; background-color: #3a87ad; color: #fff; font-size: .85em; cursor: default; }
a.fc-event { text-decoration: none; }
a.fc-event, .fc-event-draggable { cursor: pointer; }
.fc-rtl .fc-event { text-align: right; }
.fc-event-inner { width: 100%; height: 100%; overflow: hidden; }
.fc-event-time, .fc-event-title { padding: 0 7px; }
.fc .ui-resizable-handle { display: block; position: absolute; z-index: 99999; overflow: hidden; font-size: 300%; line-height: 50%; }
	
	
/* Horizontal Events */

.fc-event-hori { border-width: 1px 0; margin-bottom: 1px; }

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
	border-left-width: 1px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
	border-right-width: 1px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	}
		
.fc-event-hori .ui-resizable-e {
	top: 0           !important;
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}
	
.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}
		
	
/* Reusable Separate-border Table */

table.fc-border-separate { border-collapse: separate; }
.fc-border-separate th, .fc-border-separate td { border-width: 1px 0 0 1px; }
.fc-border-separate td:first-child, .fc-border-separate th:first-child { border-width: 1px 0 0 0; }
.fc-border-separate th.fc-last, .fc-border-separate td.fc-last { border-right-width: 0; }
.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td { border-bottom-width: 1px; }
.fc-border-separate tbody tr.fc-first td, .fc-border-separate tbody tr.fc-first th { border-top-width: 0; }
	

/* Month View, Basic Week View, Basic Day View */

.fc-grid th { text-align: center; }
.fc .fc-week-number { width: 22px; text-align: center; }
.fc .fc-week-number div { padding: 0 2px; }
.fc-grid .fc-day-number { float: right; padding: 0 2px; }
.fc-grid .fc-other-month .fc-day-number { opacity: 0.3; filter: alpha(opacity=30); }
.fc-grid .fc-day-content { clear: both; padding: 2px 2px 1px; }
.fc-grid .fc-event-time { font-weight: bold; }
.fc-rtl .fc-grid .fc-day-number { float: left; }
.fc-rtl .fc-grid .fc-event-time { float: right; }
	

/* Agenda Week View, Agenda Day View */

.fc-agenda table { border-collapse: separate; }
.fc-agenda-days th { text-align: center; }
.fc-agenda .fc-agenda-axis { width: 50px; padding: 0 4px; vertical-align: middle; text-align: right; white-space: nowrap; font-weight: normal; }
.fc-agenda .fc-week-number { font-weight: bold; }
.fc-agenda .fc-day-content { padding: 2px 2px 1px; }
.fc-agenda-days .fc-agenda-axis { border-right-width: 1px; }
.fc-agenda-days .fc-col0 { border-left-width: 0; }
.fc-agenda-allday th { border-width: 0 1px; }
.fc-agenda-allday .fc-day-content { min-height: 34px; }
.fc-agenda-divider-inner { height: 2px; overflow: hidden; }
.fc-widget-header .fc-agenda-divider-inner { background: #eee; }
.fc-agenda-slots th { border-width: 1px 1px 0; }
.fc-agenda-slots td { border-width: 1px 0 0; background: none; }
.fc-agenda-slots td div { height: 20px; }
.fc-agenda-slots tr.fc-slot0 th, .fc-agenda-slots tr.fc-slot0 td { border-top-width: 0; }
.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td { border-top-style: dotted; }
.fc-agenda-slots tr.fc-minor th.ui-widget-header { *border-top-style: solid; }


/* Vertical Events */

.fc-event-vert { border-width: 0 1px; }
.fc-event-vert.fc-event-start { border-top-width: 1px; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.fc-event-vert.fc-event-end { border-bottom-width: 1px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.fc-event-vert .fc-event-time { white-space: nowrap; font-size: 10px; }
.fc-event-vert .fc-event-inner { position: relative; z-index: 2; }
.fc-event-vert .fc-event-bg { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; background: #fff; opacity: .25; filter: alpha(opacity=25); }
		
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
	width: 100%      !important;
	height: 8px      !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
}
	







/* ===== File uploader  ===== */

.plupload_buttons { margin: 7px 0; }
.plupload_buttons::after { content: ""; display: block; clear: both; }
.plupload_header { display: none; }
.plupload_start { float: left; }
.plupload_buttons > a.btn-primary { margin-left: 10px; }
.plupload_start span { background: url(../images/upload.html) no-repeat 10px; padding: 5px 13px 6px 26px; display: block;  }
.plupload_disabled, a.plupload_disabled:hover { color: #a6a6a6!important; border: 1px solid #d5d5d5!important; background: #e5e5e5!important; box-shadow: none!important; -moz-box-shadow: none!important; text-shadow: none!important; cursor: default!important; }
.plupload_disabled span { padding: 5px 13px 6px 13px; }
.plupload_add { float: left; }
.plupload_add span { background: url(../images/add.html) no-repeat 10px; padding: 5px 13px 6px 26px; display: block; }
.plupload_wrapper { font-size: 11px;; width: 100%; }
.plupload_container input { border: 1px solid #DDD; font-size: 11px; width: 98%; }
.plupload_filelist { margin: 0; padding: 0; list-style: none; }
.plupload_scroll .plupload_filelist { height: 185px; overflow-y: scroll; }
.plupload_filelist li { padding: 10px 12px; background: whiteSmoke; border-bottom: 1px solid #E7E7E7; }
.plupload_filelist li:hover { background-color: #f8f8f8; }
.plupload_filelist_header, .plupload_filelist_footer { background: #f5f5f5; padding: 3px 0 3px 12px; color: #878787; }
.plupload_filelist_header {	border-bottom: 1px solid #d5d5d5; }
.plupload_filelist_footer { border-top: 1px solid #D5D5D5; line-height: 30px; vertical-align: middle; } 
.plupload_filelist_footer .plupload_file_size, .plupload_filelist_footer .plupload_file_status, .plupload_filelist_footer .plupload_progress, .plupload_filelist_footer .plupload_file_action, .plupload_filelist_footer .plupload_upload_status { margin: 8px 0; }
.plupload_file_name { float: left; overflow: hidden; }
.plupload_file_status { color: #777; }
.plupload_file_status span {}
.plupload_file_size, .plupload_file_status, .plupload_progress { float: right; width: 80px; }
.plupload_file_size, .plupload_file_status, .plupload_file_action { text-align: right; }
.plupload_filelist .plupload_file_name { width: 205px; }
.plupload_file_action { float: right; width: 14px; margin-top: 4px; height: 14px; margin-left: 15px!important; }
.plupload_file_action * { display: none; width: 14px; height: 14px; }
li.plupload_done { color: #AAA; }
li.plupload_delete a { background: url(../images/elements/uploader/deleteFile.png) no-repeat 0; }
li.plupload_failed a { background: url(../images/elements/uploader/error.png) no-repeat 0; cursor: default; }
li.plupload_done a { background: url(../images/elements/uploader/uploaded.png) no-repeat 0; cursor: default; }
.plupload_progress, .plupload_upload_status { display: none; }
.plupload_progress_container { margin-top: 10px; border: 1px solid #CCC; background: #FFF; padding: 1px; }
.plupload_progress_bar { width: 0px; height: 7px; background: #CDEB8B; }
.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action { margin-right: 17px; }
.plupload_clear,.plupload_clearer { clear: both; }
.plupload_clearer, .plupload_progress_bar { display: block; font-size: 0; line-height: 0; }
li.plupload_droptext { background: url(../images/elements/uploader/drag.png) no-repeat 50%; text-align: center; vertical-align: middle; border: 0; line-height: 165px; text-indent: -9999px; }


/* ===== Cleditor ===== */

.cleditorMain iframe {border:none; margin:0; padding:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-box-sizing: border-box;max-width: 100%;}
.cleditorMain textarea {border:none; margin:0; padding:0; overflow-y:scroll; font-size: 12px; padding: 10px; resize:none; outline:none /* webkit grip focus */}
.cleditorToolbar {background: url('../images/elements/wysiwyg/toolbar.gif') repeat}
.cleditorGroup {float:left; height:26px}
.cleditorButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('../images/elements/wysiwyg/buttons.gif')}
.cleditorDisabled {opacity:0.3; filter:alpha(opacity=30)}
.cleditorDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#CCC}
.cleditorPopup {border:solid 1px #999; background-color:white; position:absolute; z-index:10000}
.cleditorPopup input[type=button] { padding: 7px 10px 6px 10px; border: 1px solid #3485AE; float: right; margin: 8px 0 4px 0; background: #56A4CE; color: #fff; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px #333; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px #333; -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 1px 1px #333; }
.cleditorList div {padding:2px 4px 2px 4px}
.cleditorList p, .cleditorList h1, .cleditorList h2, .cleditorList h3, .cleditorList h4, .cleditorList h5, .cleditorList h6, .cleditorList font {padding:0; margin:0; background-color:Transparent}
.cleditorColor {width:150px; padding:1px 0 0 1px}
.cleditorColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
.cleditorPrompt {background-color:#F6F7F9; padding:4px; font-size: 11px; }
.cleditorPrompt input,
.cleditorPrompt textarea {font:8.5pt Arial,Verdana;}
.cleditorMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size: 11px; }


/* ===== Time picker ===== */

.ui-timepicker-list { overflow-y: auto; height: 131px; width: 6.5em; background: #fff; border: 1px solid #ddd; margin-top: -1px; min-width: 116px; }
input.time { width: 100px; }
.ui-timepicker-list.ui-timepicker-with-duration { width: 11em; }
.ui-timepicker-duration { margin-left: 5px; color: #888; }
.ui-timepicker-list:hover .ui-timepicker-duration { color: #888; }
.ui-timepicker-list li { padding: 10px 10px 9px 10px; line-height: 13px; border-top: 1px solid #e4e4e4; font-size: 11px;
	background: #fcfcfc; 
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #f8f8f8 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f8f8f8)); 
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f8f8f8 100%); 
	background: -o-linear-gradient(top,  #fcfcfc 0%,#f8f8f8 100%); 
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#f8f8f8 100%); 
	background: linear-gradient(top,  #fcfcfc 0%,#f8f8f8 100%); 
}
.ui-timepicker-list li:first-child { border-top: none; }
.ui-timepicker-list:hover .ui-timepicker-selected { background: #fff; color: #000; }
li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list:hover .ui-timepicker-selected:hover { background: #1980EC; color: #fff; }
li.ui-timepicker-selected .ui-timepicker-duration, .ui-timepicker-list li:hover .ui-timepicker-duration { color: #ccc; }


/* ===== Bootstrap color picker ===== */

.colorpicker-saturation { width: 100px; height: 100px; background-image: url(../images/colorpicker/saturation.png); cursor: crosshair; float: left; }
.colorpicker-saturation i { display: block; height: 5px; width: 5px; border: 1px solid #000; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position: absolute; top: 0; left: 0; margin: -4px 0 0 -4px; }
.colorpicker-saturation i b { display: block; height: 5px; width: 5px; border: 1px solid #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.colorpicker-hue, .colorpicker-alpha { width: 15px; height: 100px; float: left; cursor: row-resize; margin-left: 4px; margin-bottom: 4px; }
.colorpicker-hue i, .colorpicker-alpha i { display: block; height: 1px; background: #000; border-top: 1px solid #fff; position: absolute; top: 0; left: 0; width: 100%; margin-top: -1px; }
.colorpicker-hue { background-image: url(../images/colorpicker/hue.png); }
.colorpicker-alpha { background-image: url(../images/colorpicker/alpha.png); display: none; }
.colorpicker { *zoom: 1; top: 0; left: 0; padding: 4px; min-width: 120px; margin-top: 1px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.colorpicker:before, .colorpicker:after { display: table; content: ""; }
.colorpicker:after { clear: both; }
.colorpicker:before { content: ''; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #ccc; border-bottom-color: rgba(0, 0, 0, 0.2); position: absolute; top: -7px; left: 6px; }
.colorpicker:after { content: ''; display: inline-block; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #ffffff; position: absolute; top: -6px; left: 7px; }
.colorpicker div { position: relative; }
.colorpicker.alpha { min-width: 140px; }
.colorpicker.alpha .colorpicker-alpha { display: block; }
.colorpicker-color { height: 10px; margin-top: 5px; clear: both; background-image: url(../images/colorpicker/alpha.png); background-position: 0 100%; }
.colorpicker-color div { height: 10px; }
.input-append.color .add-on { padding: 6px; }
.input-append.color .add-on i, .input-prepend.color .add-on i { display: block; cursor: pointer; width: 16px; height: 16px; } 





