/*General*/
@import url("font.css");

@font-face {
    font-family: "shindoreifont";
    src: url('../font/shindorei.ttf');
}

@font-face {
    font-family: "GeosansLight";
    src: url('../font/GeosansLight.ttf');
}

body, html {
    background:url('../images/bg.jpg') #111619 no-repeat;
    background-size:100%;
    background-attachment:fixed;
    margin:0;
    height: 100%;
    font-family:"GeosansLight";
}

a {
    color:#70612c;
    background: transparent;
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	outline: none;
}

p {
    color: #B0B0AE;
    text-shadow: 0px 0px 10px #000;
    margin: 0;
    font-weight: normal;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:20px;
}


select[name=language]
{
    margin-top:12px;
    margin-right:20px;
    font-size:18px;
    color:#FF0000;
}

#lifirst
{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.ButtonFofo {
    background: #70612c;
    color: rgb( 176, 176, 174 );
    cursor: pointer;
    box-shadow: 0px 0px 3px rgb(33, 33, 33);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    border: 0px none;
    transition: all 450ms ease 0s;
    text-decoration: none;
}

.ButtonFofo:hover {
    background: #70612c;
    color: rgb( 176, 176, 174 );
    cursor: pointer;
    box-shadow: 0px 0px 3px #212121;
    -moz-box-shadow: 0px 0px 3px #212121;
    -webkit-box-shadow: 0px 0px 3px #212121;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb( 157, 134, 107 );
    transition: 450ms;
    -moz-transition: 450ms;
    -webkit-transition: 450ms;
    text-decoration: none;
}

/*header*/
.topbar
{
    width:100%;
    height:1px;
    background:url('../images/top_bar.png');
}

/* ////////////////////////////////// */
/* Navigation bar                     */
/* ////////////////////////////////// */
nav
{
    width:1411px;
    height:203px;
    margin:-215px auto 0px auto;
    background:url('../images/1600/menu.png') no-repeat;
	background-position:0 66px;
    border-radius:5px;
    z-index:25;
    position:relative;
}

nav ul
{
    margin:0px!important;
	padding:0px!important;
    -webkit-margin-before: 0em;
    -webkit-padding-start: 0px;
    width:100%;
}

nav ul li
{
    background-position:right;
	margin-top:67px;
    height:69px;
    line-height:70px;
    margin-left:-2px;
    display:inline;
    float:left;
    font-family:"shindoreifont";
    font-size:15px;
    text-transform:uppercase;
	transition: box-shadow 0.3s;
	text-align:center;
	color: rgb( 143, 122, 96 );
}

nav ul li:hover
{
    -moz-box-shadow: inset 0px 0px 15px 0px #000;
    -webkit-box-shadow: inset 0px 0px 15px 0px #000;
    -o-box-shadow: inset 0px 0px 15px 0px #000;
    box-shadow: inset 0px 0px 15px 0px #000;
}

nav ul li a
{
    text-decoration:none;
    color: rgb( 143, 122, 96 );
	display:block;
	height:100%;
	width:100%;
}

/* ////////////////////////////////// */
/* Navigation bar personnalisé        */
/* ////////////////////////////////// */
.nav1
{
	margin-left:0px;
	width:188px;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
}

.nav2
{
	width:152px;
}

.nav3
{
	width:153px;
}

.nav4
{
	width:114px;
}

.nav5
{
	margin-left: 207px;
	width:140px;
}

.nav6
{
	width:101px;
}

.nav7
{
	width:203px;
}

.nav8
{
	margin-left:0px;
	width:163px;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}

.navlogo:hover
{
	box-shadow: inset 0px 0px 0px 0px #000;
}

/* ////////////////////////////////// */
/* Slider                             */
/* ////////////////////////////////// */
.slider
{
	width:1411px;
	height:214px;
	background:url('../images/1600/slider.png');
	z-index:2;
	position: relative;
	margin: -101px auto 0 auto;
}

.clear
{
    clear:both;
}

/* ////////////////////////////////// */
/* Center                             */
/* ////////////////////////////////// */
#center
{
    width:1145px;
    min-height:559px;
    height:auto;
    background:#ffffff;
    position:relative;
    border-radius:10px;
    float:left;
    background:url('../images/1600/bodybg.jpg') repeat-y;
    background-position:0;
    padding-bottom:20px;
	color:#655645;
	border-radius: 10px;
	overflow: hidden;
}

#center h1
{	
    font-family: "shindoreifont";
    font-size: 17px;
	height:46px;
	line-height:46px;
    text-transform: uppercase;
	background:url('../images/1600/titre.png') no-repeat;
    color: rgb( 157, 134, 107 );
    text-shadow: 0px 0px 10px #000;
    margin: 0;
    font-weight: normal;
    margin-bottom:10px;
	padding-left:20px;
}

.center_first
{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

.center_sep
{
	height:20px;
	display:inline;
	width:20px;
	margin-left:20px;
}

.center_contenu
{
	color:#655645;
	width:1105px;
	margin-left:20px;
	margin-bottom:20px;
}

/* ////////////////////////////////// */
/* News                               */
/* ////////////////////////////////// */
.news_picture
{
    width:168px;
    position:relative;
    float:left;
    display: block;
}

.news_text
{
    margin-left:20px;
    float:left;
    width:917px;
    margin-top:5px;
    height:162px;
}

.news_text a
{
    color:#70612c;
}

.news_text_comm
{
    margin-left:20px;
    float:left;
    width:917px;
    margin-top:5px;
    height: auto;
}

.news_text_comm a
{
    color:#70612c;
}

.news_comment
{
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 0px;
    background:url('../images/1600/comment.png') no-repeat;
    background-position:right;
    width:45px;
    line-height:46px;
}

.stafflogo {
    
    width:318px;
    height:198px;
    background:url('../images/1600/staff.png');
    position:absolute;
    margin-top:-10px;
    margin-left:827px;
    
}

.news_info {
    margin-left: 10px;
    font-size: 12px;
}
/* ////////////////////////////////// */
/* Login                              */
/* ////////////////////////////////// */
#login
{
    width:256px;
    background:url('../images/1600/login.png') no-repeat;
    height:190px;
    margin:0 0 15px 0;
    overflow:hidden;
}

#login h1
{
    color: #9D866B;
	margin: 0px;
	font-size: 17px;
	text-transform: uppercase;
	font-family: "shindoreifont";
	margin-left: 12px;
	margin-bottom: 25px;
	padding-top: 14px;
	font-weight: normal;
}

#login input[type="text"],[type="password"]
{
    background-color:#181717;
    opacity: 0.70;
	border-color:#2e2825;
	border-width:1px;
	border-style:solid;
    width: 217px;
    height: 26px;
    line-height:26px;
    display:block;
    padding-left:10px;
    margin:15px auto;
    color:#ffffff;
}

#login input[type="submit"]
{
    width:121px;
    height: 29px;
    line-height:28px;
    display:block;
    margin:15px auto;
    color:#8A6825!important;
	background:url('../images/1600/submit.png');
	border:none;
	outline:0;
}

#login input[type="submit"]:hover
{
	background-position:0 -29px;
}

#login input::-webkit-input-placeholder
{
    color: #37312d;
}

#login input.placeholder{
    color: #37312d;
}

#login input:-moz-placeholder{
    color: #37312d;
}

/* ////////////////////////////////// */
/* Realm                             */
/* ////////////////////////////////// */
#realm
{
    width:254px;
    height:185px;
    background:url('../images/1600/login.png');
    margin-bottom:15px;
}

#realm h1
{
    color: #9D866B;
	margin: 0px;
	font-size: 17px;
	text-transform: uppercase;
	font-family: "shindoreifont";
	margin-left: 12px;
	margin-bottom: 12px;
	padding-top: 14px;
	font-weight: normal;
}

/* ////////////////////////////////// */
/* Actu                               */
/* ////////////////////////////////// */
#actu
{
    width:250px;
    height:369px;
    background:url('../images/1600/bgactu.png') no-repeat;
    overflow:hidden;
	margin-bottom:20px;
}

#actu h1
{
    color: #9D866B;
	margin: 0px;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: "shindoreifont";
	margin-left: 12px;
	padding-top: 14px;
}

/* ////////////////////////////////// */
/* My Account                         */
/* ////////////////////////////////// */
.accountheader
{
    background:url('../images/1600/account_top.png') no-repeat;
    margin-top:0px;
    width:1144px;
    height:168px;
    margin-bottom:25px;
    margin-top:-10px;
}

.accountfield
{
    color:#9d866b;
    font-family: Arial;
    font-size:13px;
    float:left;
}

.accountvalue
{
    color:#9b9791;
    font-family: Arial;
    font-size:13px;
    float:left;
    margin-left:10px;
}

.accountlink
{
    color:#9b9791;
    font-family: Arial;
    font-size:13px;
    float:right;
    margin-left:10px;
    margin-right:10px;
}

.accountlink a
{
    color:#8a7632;
}

.ma_field
{
    margin-left:30px;
    padding-top:18px;
    clear:both;
}

.ma_avatar
{
    margin-left:20px;
    padding-top:10px;
    float:left;
}

.ma_column
{
    float:left;
    width:310px;
}

.ma_password
{
    height:76px;
    display:block;
    float:left;
    width:279px; /* 295 */
    background:url('../images/1600/ma_password.png');
    transition: box-shadow 0.3s;
}

.ma_store
{
    height:76px;
    display:block;
    float:left;
    width:279px;
    background:url('../images/1600/ma_store.png');
    transition: box-shadow 0.3s;
}

.ma_faction
{
    height:76px;
    display:block;
    width:279px;
    float:left;
    background:url('../images/1600/ma_faction.png');
    transition: box-shadow 0.3s;
}

.ma_point
{
    height:76px;
    display:block;
    width:279px;
    float:left;
    background:url('../images/1600/ma_point.png');
    transition: box-shadow 0.3s;
}

.ma_block
{
    height:76px;
    display:block;
    width:279px;
    float:left;
    background:url('../images/1600/ma_block.png');
    transition: box-shadow 0.3s;
}

.ma_race
{
    height:76px;
    display:block;
    width:279px;
    float:left;
    background:url('../images/1600/ma_race.png');
    transition: box-shadow 0.3s;
}

.ma_button
{
    margin-left:75px;
    margin-bottom:30px;
}

.ma_button:hover
{
    -moz-box-shadow: inset 0px 0px 15px 0px #3A3939;
    -webkit-box-shadow: inset 0px 0px 15px 0px #3A3939;
    -o-box-shadow: inset 0px 0px 15px 0px #3A3939;
    box-shadow: inset 0px 0px 15px 0px #000000;
    background-position:0 -76px;
}

.disabled, .disabled:hover
{
    background-position:0 -152px;
}

/* ////////////////////////////////// */
/* Notification                       */
/* ////////////////////////////////// */

.nt_error,.nt_success,.nt_warning
{
    background-repeat:no-repeat;
    background-position:10px center;
    width:1074px;
    height:78px;
    margin:10px auto;
    text-align:left;
    background:url('../images/1600/notification.png');
}

.nt_title_warning
{
    color:#a13333;
    text-transform:uppercase;
    font-weight:bold;
    margin-left:20px;
    padding-top:5px;
    font-family:Arial;
    font-size:13px;
}

.nt_text_warning
{
    color:#a13333;
    padding-top:5px;
    margin-left:20px;
}

.nt_warning
{
    background-position:0 -156px;
    color:#D8000C;
}

.nt_title_error
{
    color:#a13333;
    text-transform:uppercase;
    font-weight:bold;
    margin-left:20px;
    padding-top:5px;
    font-family:Arial;
    font-size:13px;
}

.nt_text_error
{
    color:#a13333;
    padding-top:5px;
    margin-left:20px;
}

.nt_error
{
    background-position:0 -78px;
    color:#D8000C;
}

.nt_title_success {
    color:#41681f;
    text-transform:uppercase;
    font-weight:bold;
    margin-left:20px;
    padding-top:5px;
    font-family:Arial;
    font-size:13px;
}

.nt_text_success {
    color:#41681f;
    padding-top:5px;
    margin-left:20px;
}

/* ////////////////////////////////// */
/* Notification                       */
/* ////////////////////////////////// */
.forum_head
{
	margin-bottom:-1px!important;
}

.icon_open
{
	background:url('../images/1600/forumicon.png') no-repeat;
	height:51px;
	width:50px;
	margin-top: 11px;
	margin-left:16px;
	position: absolute;
	display:block;
}

.forum_bg
{
	width:100%;
	height:72px;
	background:url('../images/1600/CatBg.png') no-repeat;
}

.forum_title
{
	margin-top:7px;
	margin-left:81px;
	position:absolute;
	font-weight:bold;
}

.forum_desc
{
	margin-top:25px;
	margin-left:81px;
	position:absolute;
}

.forum_desc a
{
	font-size:13px;
}

.forum_lastpost
{
	right:10px;
	margin-top:5px;
	position:absolute;
	width:150px;
	text-align:left;
}

.forum_topics
{
	width:150px;
	position:absolute;
	right:0;
	margin-right:185px;
	margin-top:15px;
}

/* ///////////////////////// */
header
{
    position:relative;
	z-index: 26;
	width:250px;
	margin:10px auto;
	z-index:26;
}

.accountname
{
    font-family: "shindoreifont";
    font-size: 21px;
    text-transform: uppercase;
    color: #B0B0AE;
    text-shadow: 0px 0px 10px #000;
    padding-top: 7px;
    margin-left: 180px;
}

.accountemail
{
    font-size: 18px;
    color: #B0B0AE;
    text-shadow: 0px 0px 10px #000;
    margin-top: 30px;
    margin-left: 180px;
}

.accountboutique
{
    height:96px;
    margin-left:10px;
    display:block;
    width:327px;
    float:left;
    background:url('../images/accountboutique.png');
}

.accountvote:hover
{
    background-position:0 -96px;
}

.accounthelp:hover
{
    background-position:0 -96px;
}

.accountboutique:hover
{
    background-position:0 -96px;
}

#global
{
    width:1411px;
    margin:0 auto;
	padding-top:15px;
}

/*Inscription*/
#registerbg
{
    width:1035px;
    min-height:559px;
    height:auto;
    background:#ffffff;
    position:relative;
    border-radius:10px;
    float:left;
    margin-top:0px;
    background:url('../images/bgregister.jpg') no-repeat;
    background-position:0 0;
    padding-bottom:20px;
    padding-top:100px;
    text-align: center;
}

#registerbg input
{
    background:url('../images/formregister.png') no-repeat;
    width:357px;
    border-style:none;
    height:40px;
    font-size:16px;
    color:#e2dcdc;
    padding-left:10px;
    display:block;
    margin:15px auto;
}

#registerbg input[type=submit] {
    cursor: pointer;
}

/*News*/
.news
{
    background:url('../images/bgnew.jpg') no-repeat;
    height:218px;
    margin-left:1px;
    width:1033px;
    color: #969695;
    text-align:justify;
}

.news_first
{
    background:url('../images/bgnewfirst.png') no-repeat;
    height:218px;
    width:1033px;
    color:#969695;
    text-align:justify;
    border-top-left-radius:10px;
    margin-left:1px;
    margin-top:1px;
    border-top-right-radius:10px;
}

.news h1, .news_first h1
{
    font-family:"shindoreifont";
    font-size:21px;
    text-transform:uppercase;
    color: rgb( 176, 176, 174 );
    text-shadow: 0px 0px 10px rgb( 0, 0, 0 );
    margin-left:0px!important;
    margin-top:21px!important;
    margin-bottom:10px!important;
    display:block;
    font-weight:normal;
}

.commentaire {
    background:url('../images/com.jpg') no-repeat;
    min-height: 218px;
    height:auto;
    margin-left:1px;
    width:1033px;
    color: #969695;
    text-align:justify;
}

.comm_avatar {
    width:100px;
    height:100px;
    float:left;
    margin-left: 40px;
    margin-top: 17px;
}

.comm {
    float:right;
}

.comm_info {
    font-family:"shindoreifont";
    font-size:21px;
    text-transform:uppercase;
    color: rgb( 176, 176, 174 );
    text-shadow: 0px 0px 10px rgb( 0, 0, 0 );
    margin-left:0px!important;
    margin-top:21px!important;
    margin-bottom:10px!important;
    display:block;
    font-weight:normal;
}

.comm_text {
    width: 822px;
    vertical-align: top;
    font-size: 14px;
    margin-right: 28px;
}

.sep
{
    width:100%;
    height:1px;
    background:url('../images/sep.png');
    margin-top:15px;
    margin-bottom:15px;
}

.new_icon
{
    width:153px;
    height:132px;
    background:url('../images/news.png');
    float:left;
    margin-left: 13px;
    margin-top: 17px;
}

.new_text
{
    width:822px;
    float:left;
    margin-left:20px;
    vertical-align:top;
    font-size:14px;
}

.TextCommentaire {
    width: 96%;
    box-shadow: 0px 0px 3px #212121;
    -moz-box-shadow: 0px 0px 3px #212121;
    -webkit-box-shadow: 0px 0px 3px #212121;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    border: 1px solid green;
}

/*Right*/
.login_register
{
    color:#ffffff;
    display:block;
    margin: -19px 0px 0px 42px;
}

#login input[type=submit]
{
    cursor: pointer;
    color:#ffffff;
}

.fb-like-box
{
    margin-top:3px;
    border:none !important;
}

iframe
{
    border:none !important;
}

#right
{
    width:250px;
    float:right;
    border-radius:10px;
	margin-right: 5px;
}

#logged
{
    width:250px;
    background:url('../images/bgally.png') no-repeat;
    height:195px;
    margin-bottom:15px;
    overflow:hidden;
}

#logged h1
{
    color:#adafaf;
    margin:0px;
    font-size: 27px;
    text-transform: lowercase;
    font-family: "shindoreifont";
    margin-left: 12px;
    margin-bottom:20px;
    padding-top: 8px;
    font-weight:normal;
}

#account
{
    width:250px;
    margin-top:-14px;
    margin-left:0px;
    height:auto;
    color: #adafaf;
}

#account a
{
    color:#ffffff;
    display:block;
    margin-left:15px;
    text-decoration:none;
}

#account ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

#account ul li
{
    display:block;
    position:relative;
    border-bottom-width:1px;
    border-bottom-color:rgba(217, 219, 221, 0.05);
    border-bottom-style:solid;
    padding-bottom:5px;
    padding-top:4px;
    padding-left:20px;
}

#account ul li:hover
{
    -moz-box-shadow: inset 0px 0px 10px 20px rgba(255, 255, 255, 0.04);
    -webkit-box-shadow: inset 0px 0px 10px 20px rgba(255, 255, 255, 0.04);
    -o-box-shadow: inset 0px 0px 10px 20px rgba(255, 255, 255, 0.04);
    box-shadow: inset 0px 0px 10px 20px rgba(255, 255, 255, 0.04);
}

.Log_Avatar {
    float: left;
    width: 128px;
    height: 90px;
}

.Log_Info {
    width: 108px;
    padding-left: 137px;
    color: #adafaf;
}

.Log_Link {
    color: #adafaf;
    margin-top: 5%;
    display: block;
    position: relative;
}

.Log_Link a {
    display: inline;
}

.firstli
{
    padding-top:5px !important;
}

.lastli
{
    border-bottom-style:none !important;
    padding-top:5px !important;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.realm_mop
{
    width:254px;
    height:48px;
    background:url('../images/1600/mop.png');
}

.realm_mop p, .realm_mop_last p 
{
    font-family: "shindoreifont";
    text-transform: lowercase;
    color:#adafaf;
    font-size: 20px;
    position:absolute;
    margin-left: 90px;
    margin-top: 5px;
}

.accountlibg
{
    border-radius: 50%;
    width: 5px;
    height: 5px; 
    background:#ffffff;
    position:absolute;
    margin-right:10px;
    margin-top:7px;
}

.realmsmall
{
    color:#adafaf;
    font-size:11px;
    position:absolute;
    margin-left: 91px;
    margin-top: 25px;
}

.realm_statut
{
    margin-top:12px;
    float:right;
    margin-right:10px;
}

.realm_mop_last
{
    width:254px;
    height:48px;
    background:url('../images/1600/moplast.png');
}

/*Armory*/
#armoryportal {
    text-align: center;
}

#armoryportal input
{
    background:url('../images/formregister.png') no-repeat;
    width:357px;
    border-style:none;
    height:40px;
    font-size:16px;
    color:#e2dcdc;
    padding-left:10px;
    display:block;
    margin:15px auto;
}

#formchangepass {
    text-align: center;
}

#formchangepass input
{
    background:url('../images/formregister.png') no-repeat;
    width:357px;
    border-style:none;
    height:40px;
    font-size:16px;
    color:#e2dcdc;
    padding-left:10px;
    display:block;
    margin:15px auto;
}


#banniere
{
width: 600px;
height: 150px;
background-position:  center;
margin-bottom: 20px; 
background-image: url('../images/banniere.jpg');
}

.ico {width:2%}
.titre { width:61%; }
.nombremessages { width:2%; }
.nombrevu { width:4%; }
.nombresujets { width:2%; }
.auteur { width:7%; }
.derniermessage { width:18%; }
.categorie { width:92%; background-color : rgb(244,238,250); }
td { border: 1px solid black; background-color: rgb(253,244,223); vertical-align:top; }
table { background-color: rgb(237,224,213); border: 1px solid black; }
th { background-color: rgb(243,250,223); border: 1px solid black; }

label {
display:block;
width:150px;
float:left;
}

.vt_auteur
{
    width:20%;
    background-color : rgb(244,238,250);
}
.vt_mess
{
    width:75%;
    background-color : rgb(244,238,250);
}

#forum_voile_ajax {
    -moz-opacity:0.6;
    -khtml-opacity:0.6;
    -ms-filter:"alpha(opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    filter:alpha(opacity=60);
    opacity:0.6;
    zoom: 1;/* HACK POUR IE */
    background: #000;
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.forum_add_topic_ajax {
    border: 16px solid #2f2926;
    background: url('../images/1600/bgactu.png') black;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    overflow: hidden;
    position: relative;
    z-index: 1001;
    color: #2f2926;
    margin-left:20px;
    margin-top:10px;
    margin-right:20px;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
}

.forum_add_topic_ajax input {
    background-color:#181717;
    border-color:#2e2825;
    border-width:3px;
    border-style:solid;
    width: 217px;
    height: 26px;
    line-height:26px;
    color:#ffffff;
    padding-right: 250px;
}


#fade { /*--Masque opaque noir de fond--*/
    display: none; /*--masqué par défaut--*/
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .60;
    z-index: 9999;
}
.popup_block{
    display: none; /*--masqué par défaut--*/
    border: 6px solid #2f2926;
    background: url('../images/1600/bodybg.png') black;
    padding: 0px;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    /*--Les différentes définitions de Box Shadow en CSS3--*/
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    /*--Coins arrondis en CSS3--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 410px;
    font-size: 16px;
    font-family: Arial;
}

.popup_block h1 {
    margin: -10px;
    background: url('../images/1600/CatBg.png') black no-repeat;
    text-align: center;
}

img.btn_close {
    float: right;
    /*margin: -55px -55px 0 0;*/
}
/*--Gérer la position fixed pour IE6--*/
*html #fade {
    position: absolute;
}
*html .popup_block {
    position: absolute;
}

#No_Perso_Sel {
    width: 256px;
    background: url('../images/1600/login.png') no-repeat scroll 0% 0% transparent;
    height: 190px;
    overflow: hidden;
    position: fixed;
    top: 75%;
    left: 10%;
}

#No_Perso_Sel h1 {
    color: #9D866B;
    margin: 0px 0px 25px 12px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: "shindoreifont";
    padding-top: 14px;
    font-weight: normal;
    text-align: center;
}

.persoo {
    width: 250px;
    margin: 10px;
    height: auto;
    color: #9D866B;
}