<h1 class="center_first">[TEXT=VOTE_TITLE]</h1>
<p class="vote">
    <!-- AUTH_OFF -->	
    <div class="error">[TEXT=VOTE_LOGOFF]</div>
    <a href="#" target="_blank" id="gowonda">Gowonda</a>
    <a href="#" target="_blank" id="rpg">RPG</a>
    <!-- AUTH_OFF_END -->

    <!-- AUTH_ON -->
    <a href="#" target="_blank" id="gowonda" class="[SESSION_ID]">Gowonda</a>
    <a href="#" target="_blank" id="rpg" class="[SESSION_ID]">RPG</a>
    <!-- AUTH_ON_END -->
</p>