<!-- FORUM_CATEGORIE_START -->
<h1 class="forum_head">[FORUM_CAT_NAME]</h1>  

<!-- FORUM_FORUM_START -->	
<div class="forum_bg">
	<div class="icon_open"></div>
	<div class="forum_title"><a href="[FORUM_LINK]">[FORUM_TITLE]</a></div>
	<div class="forum_desc">[FORUM_DESC]<br /><a href="#">Archives</a></div>
		
	<div class="forum_topics">[FORUM_TOPICS]</div>

	<div class="forum_lastpost">
        <a href="[FORUM_LAST_POST_LINK]">[FORUM_LAST_POST_TITLE]</a><br />
        [FORUM_LAST_POST_TIME]<br />
        <a href="#">[FORUM_LAST_POST_AUTHOR]</a>
	</div>
</div>
<!-- FORUM_FORUM_END -->

<!-- FORUM_CATEGORIE_END -->