<h1>[NEWS_TITRE]</h1>
<div class="stafflogo"></div>
<div class="center_contenu">
    <div class="news_picture">[NEWS_PICTURE]</div>
    <div class="news_text">
    [NEWS_DATA]
    </div>
    <div class="clear"></div>
</div>
<h1 style="text-align: center;">[TEXT=MY_COM_TITLE]</h1>
<div class="sep"></div>
<!-- COM_START_STRUCTURE -->
[COMMENTAIRE_STAFF]
<div class="center_contenu">
    <div class="news_picture"><img src="[TEMPLATE_URL]/images/Avatar/noavatar.jpg" alt="" /></div>
    <div class="news_text">
            <div class="comm_info">
                Par [COMMENTAIRE_BY] / [COMMENTAIRE_DATES]
            </div>
            [COMMENTAIRE_CONTENT]
        </div>
        <div class="clear"></div>
</div>
<!-- COM_END_STRUCTURE -->